In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, RobustScaler, MinMaxScaler

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso, LassoCV
from sklearn.linear_model import ElasticNet, ElasticNetCV
from sklearn.linear_model import Ridge, RidgeCV
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from sklearn.svm import SVC
from catboost import CatBoostRegressor, Pool
from ngboost import NGBRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor


from sklearn.metrics import mean_squared_error, mean_squared_log_error, mean_absolute_error

from sklearn.model_selection import cross_val_score, KFold, GridSearchCV

import warnings
warnings.filterwarnings(action='ignore')

#-------------------- 차트 관련 속성 (한글처리, 그리드) -----------
#plt.rc('font', family='NanumGothicOTF') # For MacOS
plt.rcParams['font.family']= 'Malgun Gothic'
plt.rcParams['axes.unicode_minus'] = False
sns.set()

#-------------------- 주피터 , 출력결과 넓이 늘리기 ---------------
from IPython.core.display import display, HTML
display(HTML("<style>.container{width:100% !important;}</style>"))
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)
pd.set_option('max_colwidth', None)

from sklearn.datasets import load_boston

In [2]:
def NMAE(true, pred):
    mae = np.mean(np.abs(true-pred))
    score = mae / np.mean(np.abs(true))
    return score

In [147]:
import pandas as pd
train=pd.read_csv('dataset/train.csv')
test=pd.read_csv('dataset/test.csv')

In [146]:
print('train_data shape : ', train_data.shape)
print('test_data shape : ', test_data.shape)

NameError: name 'train_data' is not defined

In [4]:
#커스텀 스코어링
import xgboost as xgb
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.metrics import make_scorer

In [119]:
preddf=preddf['id']

In [120]:
preddf

0          1
1          2
2          3
3          4
4          5
        ...
1345    1346
1346    1347
1347    1348
1348    1349
1349    1350
Name: id, Length: 1350, dtype: int64

In [ ]:
'learning_rate': 0.01, 'max_depth': 4, 'n_estimators': 1000

In [5]:
def my_fit_score(df):
    y = df["target"]
    X = df.drop(["target"], axis=1)
    X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, shuffle=True, random_state=1234)
    model_list = [LinearRegression(),Lasso(),ElasticNet(),Ridge(),
                  XGBRegressor(colsample_bytree= 1.0, max_depth= 3, min_child_weight= 1.0, n_estimators= 100),
                  LGBMRegressor(colsample_bytree= 0.8, learning_rate= 0.05, max_depth= 8, n_estimators= 100, subsample= 0.8),
                  RandomForestRegressor(random_state=42,min_samples_leaf= 1, min_samples_split= 6,criterion = 'mae'),
                  CatBoostRegressor(depth = 4, random_state = 42, loss_function = 'MAE', n_estimators = 3000, learning_rate = 0.03, verbose = 0),
                  GradientBoostingRegressor(random_state = 42, max_depth = 4, learning_rate = 0.01, n_estimators = 1000),
                  NGBRegressor(random_state = 42, n_estimators = 1000, verbose = 0, learning_rate = 0.03),]
    for model in model_list:
        global preddf
        nmaescore=cross_val_score(model,X_train,y_train,scoring=make_scorer(NMAE,greater_is_better=False),cv=5)
        print(model.__class__.__name__,':',np.mean(nmaescore),)
        model.fit(X_train, y_train)
        preddf[model.__class__.__name__] = model.predict(testfortest)

## 수치화

In [25]:
train

,Overall Qual,Gr Liv Area,Exter Qual,Garage Cars,Garage Area,Kitchen Qual,Total Bsmt SF,Bsmt Qual,Full Bath,Year Built,Year Remod/Add,Garage Yr Blt,target
0,10,2392,5,3,968,5,2392,5,2,2003,2003,2003,386250
1,7,1352,4,2,466,4,1352,5,2,2006,2007,2006,194000
2,5,900,3,1,288,3,864,3,1,1967,1967,1967,123000
3,5,1174,3,2,576,4,680,3,1,1900,2006,2000,135000
4,7,1958,4,3,936,4,1026,4,2,2005,2005,2005,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,6,1756,4,2,422,3,872,5,2,1996,1997,1996,204000
1346,9,2748,4,3,850,5,1850,5,2,2006,2006,2006,390000
1347,5,1214,3,1,318,3,1214,3,2,1967,1967,1967,143000
1348,5,894,3,2,440,3,864,4,1,1974,1974,1974,131000
1349,5,907,3,1,343,3,907,4,1,1978,1978,1978,140000

In [155]:
train

,Overall Qual,Gr Liv Area,Exter Qual,Garage Cars,Garage Area,Kitchen Qual,Total Bsmt SF,1st Flr SF,Bsmt Qual,Full Bath,Year Built,Year Remod/Add,Garage Yr Blt,target
0,10,2392,5,3,968,5,2392,2392,5,2,2003,2003,2003,386250
1,7,1352,4,2,466,4,1352,1352,5,2,2006,2007,2006,194000
2,5,900,3,1,288,3,864,900,3,1,1967,1967,1967,123000
3,5,1174,3,2,576,4,680,680,3,1,1900,2006,2000,135000
4,7,1958,4,3,936,4,1026,1026,4,2,2005,2005,2005,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,6,1756,4,2,422,3,872,888,5,2,1996,1997,1996,204000
1346,9,2748,4,3,850,5,1850,1850,5,2,2006,2006,2006,390000
1347,5,1214,3,1,318,3,1214,1214,3,2,1967,1967,1967,143000
1348,5,894,3,2,440,3,864,894,4,1,1974,1974,1974,131000
1349,5,907,3,1,343,3,907,907,4,1,1978,1978,1978,140000

In [154]:
train = pd.read_csv("./dataset/train.csv")
train.replace(['Ex'],5,inplace=True)
train.replace(['Gd'],4,inplace=True)
train.replace(['TA'],3,inplace=True)
train.replace(['Fa'],2,inplace=True)
train.replace(['Po'],1,inplace=True)
train=train.drop('id',axis=1)

In [149]:
testfortest

,Overall Qual,Gr Liv Area,Exter Qual,Garage Cars,Garage Area,Kitchen Qual,Total Bsmt SF,1st Flr SF,Bsmt Qual,Full Bath,Year Built,Year Remod/Add,Garage Yr Blt
0,9,1800,4,2,702,5,1800,1800,5,2,2007,2007,2007
1,6,1082,3,1,240,3,1082,1082,3,1,1948,1950,1948
2,6,1573,4,2,440,4,756,769,4,2,2000,2000,2000
3,6,2443,4,3,744,4,1158,1158,4,2,2004,2004,2004
4,5,1040,3,2,686,3,1040,1040,3,1,1968,1968,1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,8,1932,5,3,774,5,1932,1932,5,2,2008,2008,2008
1346,5,912,3,1,288,3,912,912,3,1,1964,1964,1964
1347,4,861,3,2,288,3,861,861,2,1,1920,1950,1920
1348,5,1430,3,2,624,4,1430,1430,5,2,2004,2005,2004
1349,5,2337,3,2,560,3,662,1422,3,2,1900,1950,1945

In [150]:
testfortest=test.copy()

In [151]:
testfortest

,id,Overall Qual,Gr Liv Area,Exter Qual,Garage Cars,Garage Area,Kitchen Qual,Total Bsmt SF,1st Flr SF,Bsmt Qual,Full Bath,Year Built,Year Remod/Add,Garage Yr Blt
0,1,9,1800,Gd,2,702,Ex,1800,1800,Ex,2,2007,2007,2007
1,2,6,1082,TA,1,240,TA,1082,1082,TA,1,1948,1950,1948
2,3,6,1573,Gd,2,440,Gd,756,769,Gd,2,2000,2000,2000
3,4,6,2443,Gd,3,744,Gd,1158,1158,Gd,2,2004,2004,2004
4,5,5,1040,TA,2,686,TA,1040,1040,TA,1,1968,1968,1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,1346,8,1932,Ex,3,774,Ex,1932,1932,Ex,2,2008,2008,2008
1346,1347,5,912,TA,1,288,TA,912,912,TA,1,1964,1964,1964
1347,1348,4,861,TA,2,288,TA,861,861,Fa,1,1920,1950,1920
1348,1349,5,1430,TA,2,624,Gd,1430,1430,Ex,2,2004,2005,2004
1349,1350,5,2337,TA,2,560,TA,662,1422,TA,2,1900,1950,1945

In [152]:
testfortest=test.drop(['id'],axis=1)
testfortest

,Overall Qual,Gr Liv Area,Exter Qual,Garage Cars,Garage Area,Kitchen Qual,Total Bsmt SF,1st Flr SF,Bsmt Qual,Full Bath,Year Built,Year Remod/Add,Garage Yr Blt
0,9,1800,Gd,2,702,Ex,1800,1800,Ex,2,2007,2007,2007
1,6,1082,TA,1,240,TA,1082,1082,TA,1,1948,1950,1948
2,6,1573,Gd,2,440,Gd,756,769,Gd,2,2000,2000,2000
3,6,2443,Gd,3,744,Gd,1158,1158,Gd,2,2004,2004,2004
4,5,1040,TA,2,686,TA,1040,1040,TA,1,1968,1968,1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,8,1932,Ex,3,774,Ex,1932,1932,Ex,2,2008,2008,2008
1346,5,912,TA,1,288,TA,912,912,TA,1,1964,1964,1964
1347,4,861,TA,2,288,TA,861,861,Fa,1,1920,1950,1920
1348,5,1430,TA,2,624,Gd,1430,1430,Ex,2,2004,2005,2004
1349,5,2337,TA,2,560,TA,662,1422,TA,2,1900,1950,1945

In [153]:

testfortest.replace(['Ex'],5,inplace=True)
testfortest.replace(['Gd'],4,inplace=True)
testfortest.replace(['TA'],3,inplace=True)
testfortest.replace(['Fa'],2,inplace=True)
testfortest.replace(['Po'],1,inplace=True)

In [57]:
testfortest

,Overall Qual,Gr Liv Area,Exter Qual,Garage Cars,Garage Area,Kitchen Qual,Total Bsmt SF,1st Flr SF,Bsmt Qual,Full Bath,Year Built,Year Remod/Add,Garage Yr Blt
0,9,1800,4,2,702,5,1800,1800,5,2,2007,2007,2007
1,6,1082,3,1,240,3,1082,1082,3,1,1948,1950,1948
2,6,1573,4,2,440,4,756,769,4,2,2000,2000,2000
3,6,2443,4,3,744,4,1158,1158,4,2,2004,2004,2004
4,5,1040,3,2,686,3,1040,1040,3,1,1968,1968,1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,8,1932,5,3,774,5,1932,1932,5,2,2008,2008,2008
1346,5,912,3,1,288,3,912,912,3,1,1964,1964,1964
1347,4,861,3,2,288,3,861,861,2,1,1920,1950,1920
1348,5,1430,3,2,624,4,1430,1430,5,2,2004,2005,2004
1349,5,2337,3,2,560,3,662,1422,3,2,1900,1950,1945

# 이상치 제거

,Overall Qual,Gr Liv Area,Exter Qual,Garage Cars,Garage Area,Kitchen Qual,Total Bsmt SF,1st Flr SF,Bsmt Qual,Full Bath,Year Built,Year Remod/Add,Garage Yr Blt,target,dup
0,10,2392,5,3,968,5,2392,2392,5,2,2003,2003,2003,386250,False
1,7,1352,4,2,466,4,1352,1352,5,2,2006,2007,2006,194000,False
2,5,900,3,1,288,3,864,900,3,1,1967,1967,1967,123000,False
3,5,1174,3,2,576,4,680,680,3,1,1900,2006,2000,135000,False
4,7,1958,4,3,936,4,1026,1026,4,2,2005,2005,2005,250000,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,6,1756,4,2,422,3,872,888,5,2,1996,1997,1996,204000,False
1346,9,2748,4,3,850,5,1850,1850,5,2,2006,2006,2006,390000,False
1347,5,1214,3,1,318,3,1214,1214,3,2,1967,1967,1967,143000,False
1348,5,894,3,2,440,3,864,894,4,1,1974,1974,1974,131000,False
1349,5,907,3,1,343,3,907,907,4,1,1978,1978,1978,140000,False

In [11]:
def outlier_iqr(data, column): 

    # lower, upper 글로벌 변수 선언하기     
    global lower, upper    
    
    # 4분위수 기준 지정하기     
    q25, q75 = np.quantile(data[column], 0.25), np.quantile(data[column], 0.75)          
    
    # IQR 계산하기     
    iqr = q75 - q25    
    
    # outlier cutoff 계산하기     
    cut_off = iqr * 1.5          
    
    # lower와 upper bound 값 구하기     
    lower, upper = q25 - cut_off, q75 + cut_off     
    
    print('IQR은',iqr, '이다.')     
    print('lower bound 값은', lower, '이다.')     
    print('upper bound 값은', upper, '이다.')    
    
    # 1사 분위와 4사 분위에 속해있는 데이터 각각 저장하기     
    data1 = data[data[column] > upper]     
    data2 = data[data[column] < lower]    
    
    # 이상치 총 개수 구하기
    return print('총 이상치 개수는', data1.shape[0] + data2.shape[0], '이다.')

In [76]:
train[train['Garage Yr Blt'] >= 2200]

Empty DataFrame
Columns: [Overall Qual, Gr Liv Area, Exter Qual, Garage Cars, Garage Area, Kitchen Qual, Total Bsmt SF, 1st Flr SF, Bsmt Qual, Full Bath, Year Built, Year Remod/Add, Garage Yr Blt, target]
Index: []

In [13]:
collist=['Garage Yr Blt']

In [156]:
for col in collist:
    print('#####',col,'######')
    outlier_iqr(train,col)
    train = train[(train[col] < upper) & (train[col] > lower)]

##### Garage Yr Blt ######
IQR은 41.0 이다.
lower bound 값은 1899.5 이다.
upper bound 값은 2063.5 이다.
총 이상치 개수는 1 이다.

# 스태킹

In [357]:
from sklearn.ensemble import StackingRegressor

In [426]:
clf1 =LGBMRegressor(colsample_bytree= 0.8, learning_rate= 0.05, max_depth= 8, n_estimators= 100, subsample= 0.8)
clf2 =RandomForestRegressor(random_state=42,min_samples_leaf= 1, min_samples_split= 6,criterion = 'mae')
clf3 =CatBoostRegressor(depth = 4, random_state = 42, loss_function = 'MAE', n_estimators = 3000, learning_rate = 0.03, verbose = 0)
clf4 =GradientBoostingRegressor(random_state = 42, max_depth = 4, learning_rate = 0.01, n_estimators = 1000)

In [427]:
stack_models = [
    ('lgb', clf1),
    ('rf', clf2),
    ('eln', clf3),
    ('gbr', clf4)
]

In [437]:
def my_stacking_score(df):
    y = df["target"]
    X = df.drop(["target"], axis=1)
    X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, shuffle=True, random_state=1234)
    model_list = [StackingRegressor(estimators=stack_models, final_estimator=clf4, n_jobs=-1)]
    for model in model_list:
        global preddf
        nmaescore=cross_val_score(model,X_train,y_train,scoring=make_scorer(NMAE,greater_is_better=False),cv=5)
        print(model.__class__.__name__,':',np.mean(nmaescore),)
        model.fit(X_train, y_train)
        pred=model.predict(testfortest)
        submission = pd.DataFrame({"id" :test['id'],"target": pred})
        submission.to_csv('stacking3.csv', index=False)
        
        #preddf[model.__class__.__name__] = model.predict(test)

In [ ]:
LGBMRegressor : -0.09430876766948046
CatBoostRegressor : -0.09159220007253896
GradientBoostingRegressor : -0.094167066381558
NGBRegressor : -0.0948563751420099

In [438]:
my_stacking_score(train)

StackingRegressor : -0.0954784767014483

In [ ]:
XGBRegressor : -0.0993685704972019
LGBMRegressor : -0.09430876766948046
RandomForestRegressor : -0.09658731361871134
CatBoostRegressor : -0.09159220007253896
GradientBoostingRegressor : -0.094167066381558
NGBRegressor : -0.0948563751420099

In [78]:
my_fit_score(train)

LinearRegression : -0.11650341334255702
Lasso : -0.11650170726794107
ElasticNet : -0.11740371074025509
Ridge : -0.11646926437689686
XGBRegressor : -0.10347608832773325
LGBMRegressor : -0.10003901215207667
RandomForestRegressor : -0.10084495542921798
CatBoostRegressor : -0.09588557791920671
GradientBoostingRegressor : -0.10029070364514245
NGBRegressor : -0.1011113486864891

In [41]:
my_fit_score(train)

LinearRegression : -0.11634964842384994
Lasso : -0.11634740512991468
ElasticNet : -0.117143034127381
Ridge : -0.11631775215380877
XGBRegressor : -0.10413493081277195
LGBMRegressor : -0.10146337181134699
RandomForestRegressor : -0.10089249909748074
CatBoostRegressor : -0.0960931300332328
GradientBoostingRegressor : -0.1015499583377478
NGBRegressor : -0.10270493984259446

In [157]:
my_fit_score(train)

LinearRegression : -0.11650341334255702
Lasso : -0.11650170726794107
ElasticNet : -0.11740371074025509
Ridge : -0.11646926437689686
XGBRegressor : -0.10347608832773325
LGBMRegressor : -0.10003901215207667
RandomForestRegressor : -0.10084495542921798
CatBoostRegressor : -0.09588557791920671
GradientBoostingRegressor : -0.10029070364514245
NGBRegressor : -0.10110451917437453

In [91]:
my_fit_score(train)

LinearRegression : -0.11548635484205405
Lasso : -0.11548388595295747
ElasticNet : -0.11620487218342498
Ridge : -0.1154504857654179
XGBRegressor : -0.1040948235432531
LGBMRegressor : -0.09762516910160698
RandomForestRegressor : -0.09843290579362196
CatBoostRegressor : -0.0960870415216024
GradientBoostingRegressor : -0.09873560643353746
NGBRegressor : -0.09919759315413398

# 출력하기

In [90]:
train

,Overall Qual,Gr Liv Area,Exter Qual,Garage Cars,Garage Area,Kitchen Qual,Total Bsmt SF,1st Flr SF,Bsmt Qual,Full Bath,Year Built,Year Remod/Add,Garage Yr Blt,target
0,10,2392,5,3,968,5,2392,2392,5,2,2003,2003,2003,386250
1,7,1352,4,2,466,4,1352,1352,5,2,2006,2007,2006,194000
2,5,900,3,1,288,3,864,900,3,1,1967,1967,1967,123000
3,5,1174,3,2,576,4,680,680,3,1,1900,2006,2000,135000
4,7,1958,4,3,936,4,1026,1026,4,2,2005,2005,2005,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,6,1756,4,2,422,3,872,888,5,2,1996,1997,1996,204000
1346,9,2748,4,3,850,5,1850,1850,5,2,2006,2006,2006,390000
1347,5,1214,3,1,318,3,1214,1214,3,2,1967,1967,1967,143000
1348,5,894,3,2,440,3,864,894,4,1,1974,1974,1974,131000
1349,5,907,3,1,343,3,907,907,4,1,1978,1978,1978,140000

In [104]:
train['dup']=train.duplicated(['Overall Qual', 'Gr Liv Area', 'Exter Qual', 'Garage Cars',
       'Garage Area', 'Kitchen Qual', 'Total Bsmt SF', '1st Flr SF',
       'Bsmt Qual', 'Full Bath', 'Year Built', 'Year Remod/Add',
       'Garage Yr Blt'], keep =  False)

In [130]:
train.loc[385,'target']

71000

In [131]:
train.loc[835,'target']=int((94900+91000)/2)
train=train.drop(1245,axis=0)
train.loc[385,'target']=int(train.loc[385,'target']+train.loc[1175,'target']/2)
train=train.drop(385,axis=0)
train.loc[68,'target']=int(train.loc[68,'target']+train.loc[108,'target']/2)
train=train.drop(108,axis=0)

In [ ]:
train.loc[374,'target']=int(train.loc[374,'target']+train.loc[457,'target']/2)
train=train.drop(457,axis=0)
train.loc[749,'target']=int(train.loc[749,'target']+train.loc[768,'target']/2)
train=train.drop(768,axis=0)
train.loc[711,'target']=int(train.loc[374,'target']+train.loc[457,'target']/2)
train=train.drop(457,axis=0)

In [132]:
train[train['dup']==True].sort_values(by=['Overall Qual','Gr Liv Area','Year Built'], ascending=True)

,Overall Qual,Gr Liv Area,Exter Qual,Garage Cars,Garage Area,Kitchen Qual,Total Bsmt SF,1st Flr SF,Bsmt Qual,Full Bath,Year Built,Year Remod/Add,Garage Yr Blt,target,dup
835,4,988,3,1,297,3,462,526,4,1,1973,1973,1973,92950,True
1175,4,1092,3,1,286,3,546,546,3,1,1970,1970,1970,88000,True
68,4,1092,3,1,253,3,546,546,3,1,1972,1972,1972,122150,True
374,5,1728,3,2,576,3,1728,1728,3,2,1965,1965,1987,145000,True
457,5,1728,3,2,576,3,1728,1728,3,2,1965,1965,1987,142600,True
749,6,848,4,2,420,4,848,848,4,1,2003,2003,2003,136500,True
768,6,848,4,2,420,4,848,848,4,1,2003,2003,2003,131500,True
711,6,848,4,2,420,4,848,848,4,1,2004,2004,2004,141000,True
795,6,848,4,2,420,4,848,848,4,1,2004,2004,2004,144500,True
970,6,848,4,2,420,4,848,848,4,1,2004,2004,2004,155900,True
1115,6,848,4,2,420,4,848,848,4,1,2004,2004,2004,149000,True
1286,6,848,4,2,420,4,848,848,4,1,2004,2004,2004,143000,True
744,6,987,3,1,264,3,483,483,3,1,1973,1973,1973,83000,True
1016,6,987,3,1,264,3,483,483,3,1,1973,1973,1973,103400,True
275,6,1224,4,2,528,4,612,612,4,2,2009,2009,2009,164500,True
675,6,1224,4,2,528,4,612,612,4,2,2009,2009,2009,173733,True
923,6,1229,3,2,462,3,561,561,4,1,1980,1980,1980,121000,True
1158,6,1229,3,2,462,3,561,561,4,1,1980,1980,1980,124000,True
545,6,1512,4,2,440,4,756,756,4,2,2000,2000,2000,180000,True
1086,6,1512,4,2,440,4,756,756,4,2,2000,2000,2000,177000,True
128,7,1080,4,2,496,4,530,530,4,2,2003,2003,2003,139000,True
994,7,1080,4,2,496,4,530,530,4,2,2003,2003,2003,147110,True
17,7,1200,4,2,480,4,600,600,4,2,2004,2005,2004,149500,True
827,7,1200,4,2,480,4,600,600,4,2,2004,2005,2004,151000,True
718,7,1344,3,4,784,3,1344,1344,4,2,1997,1998,1997,206300,True
1228,7,1344,3,4,784,3,1344,1344,4,2,1997,1998,1997,209200,True
667,7,1358,4,2,484,4,1350,1358,4,2,2007,2008,2008,212500,True
914,7,1358,4,2,484,4,1350,1358,4,2,2007,2008,2008,217300,True
113,7,1368,4,2,474,4,1368,1368,4,2,2005,2006,2005,202665,True
734,7,1368,4,2,474,4,1368,1368,4,2,2005,2006,2005,202500,True
229,7,1374,4,2,400,4,384,744,4,2,2004,2004,2004,175000,True
244,7,1374,4,2,400,4,384,744,4,2,2004,2004,2004,167000,True
351,7,1456,4,2,400,4,728,728,4,2,2007,2007,2007,179540,True
1008,7,1456,4,2,400,4,728,728,4,2,2007,2007,2007,177594,True
420,7,1492,4,2,440,4,738,738,4,2,2006,2006,2006,169985,True
819,7,1492,4,2,440,4,738,738,4,2,2006,2006,2006,185101,True
474,7,1626,4,2,474,4,764,764,4,2,2003,2004,2003,173000,True
965,7,1626,4,2,474,4,764,764,4,2,2003,2004,2003,155000,True
735,7,2787,3,4,820,3,1168,1168,5,4,2000,2000,2000,269500,True
939,7,2787,3,4,820,3,1168,1168,5,4,2000,2000,2000,269500,True
681,8,1226,4,2,484,4,1226,1226,4,1,1978,1978,1978,170000,True
1159,8,1226,4,2,484,4,1226,1226,4,1,1978,1978,1978,206000,True
1025,8,1280,4,2,506,4,1280,1280,4,2,1992,1992,1992,191500,True
1297,8,1280,4,2,506,4,1280,1280,4,2,1992,1992,1992,180000,True
102,8,1324,4,2,550,4,1324,1324,4,2,2006,2006,2006,254000,True
619,8,1324,4,2,550,4,1324,1324,4,2,2006,2006,2006,221370,True
87,8,1646,4,2,525,4,1594,1646,5,2,2004,2005,2004,246000,True
352,8,1646,4,2,525,4,1594,1646,5,2,2004,2005,2004,300000,True

In [89]:
train=train.drop_duplicates(['Overall Qual', 'Gr Liv Area', 'Exter Qual', 'Garage Cars',
       'Garage Area', 'Kitchen Qual', 'Total Bsmt SF', '1st Flr SF',
       'Bsmt Qual', 'Full Bath', 'Year Built', 'Year Remod/Add',
       'Garage Yr Blt'], keep =  False)

In [64]:
preddf=pd.DataFrame(data=test['id'],columns=['id'])
preddf

        id
0        1
1        2
2        3
3        4
4        5
...    ...
1345  1346
1346  1347
1347  1348
1348  1349
1349  1350

[1350 rows x 1 columns]

In [158]:
preddf.head()

,id,LinearRegression,Lasso,ElasticNet,Ridge,XGBRegressor,LGBMRegressor,RandomForestRegressor,CatBoostRegressor,GradientBoostingRegressor,NGBRegressor,target
0,1,324730.552148,324733.877171,310289.207700,324680.848327,337701.312500,318549.147636,321201.275,323178.651543,328037.287590,321300.982352,343044.195275
1,2,129987.694757,129987.144952,122447.695738,129969.945905,135108.093750,128234.447385,132423.450,129008.189772,132649.028299,131430.016222,130379.948078
2,3,183230.210222,183227.187561,185101.166305,183236.647059,167516.781250,173695.092442,178520.690,179050.755292,173695.136296,170208.041306,177368.497061
3,4,269066.624609,269061.432020,277874.591797,269062.542791,235422.328125,248885.192080,229233.000,259874.182953,240799.102791,242570.457346,247829.119241
4,5,126412.468051,126415.422061,132154.934643,126429.728652,132729.046875,130385.212610,126955.750,132427.619270,133850.356869,130730.239833,133603.523990

In [ ]:
XGBRegressor : -0.0993685704972019
LGBMRegressor : -0.09430876766948046
RandomForestRegressor : -0.09658731361871134
CatBoostRegressor : -0.09159220007253896
GradientBoostingRegressor : -0.094167066381558
NGBRegressor : -0.0948563751420099

In [159]:
preddf['target']=(preddf['LGBMRegressor']*0.35)+(preddf['NGBRegressor']*0.1)+(preddf['CatBoostRegressor']*0.55)

In [160]:
preddf

,id,LinearRegression,Lasso,ElasticNet,Ridge,XGBRegressor,LGBMRegressor,RandomForestRegressor,CatBoostRegressor,GradientBoostingRegressor,NGBRegressor,target
0,1,324730.552148,324733.877171,310289.207700,324680.848327,337701.312500,318549.147636,321201.275,323178.651543,328037.287590,321300.982352,323178.651543
1,2,129987.694757,129987.144952,122447.695738,129969.945905,135108.093750,128234.447385,132423.450,129008.189772,132649.028299,131430.016222,129008.189772
2,3,183230.210222,183227.187561,185101.166305,183236.647059,167516.781250,173695.092442,178520.690,179050.755292,173695.136296,170208.041306,179050.755292
3,4,269066.624609,269061.432020,277874.591797,269062.542791,235422.328125,248885.192080,229233.000,259874.182953,240799.102791,242570.457346,259874.182953
4,5,126412.468051,126415.422061,132154.934643,126429.728652,132729.046875,130385.212610,126955.750,132427.619270,133850.356869,130730.239833,132427.619270
...,...,...,...,...,...,...,...,...,...,...,...,...
1345,1346,336980.516430,336969.776885,323784.831281,336906.635141,325261.656250,343891.103965,327755.865,357631.696759,335041.836116,347826.437118,357631.696759
1346,1347,101551.315222,101552.958210,102387.701587,101557.360793,126634.171875,129108.973462,129593.000,126106.919143,127983.146571,126684.442400,126106.919143
1347,1348,64333.710191,64324.193816,68107.330671,64358.094277,84294.554688,74725.808005,90182.710,71899.442986,69033.688262,63468.188648,71899.442986
1348,1349,206458.493680,206463.428641,212884.924018,206448.481644,193614.531250,203059.028142,212683.420,195625.702537,193569.219831,203865.129229,195625.702537
1349,1350,165691.987537,165692.069712,167631.197415,165712.235985,132604.343750,125417.977214,139892.875,141827.015865,128787.937172,124627.525213,141827.015865

In [136]:
last=preddf.drop(['Lasso','LinearRegression','ElasticNet','Ridge','XGBRegressor','LGBMRegressor','RandomForestRegressor','CatBoostRegressor'],axis=1)

In [95]:
df2=preddf[['id','target']]

In [96]:
df2

        id         target
0        1  323178.651543
1        2  129008.189772
2        3  179050.755292
3        4  259874.182953
4        5  132427.619270
...    ...            ...
1345  1346  357631.696759
1346  1347  126106.919143
1347  1348   71899.442986
1348  1349  195625.702537
1349  1350  141827.015865

[1350 rows x 2 columns]

In [97]:
df2.to_csv("sub5_cbr_weight_dup.csv",index=False)

# 튜닝

In [100]:
from sklearn.model_selection import cross_val_score, KFold, StratifiedKFold, GridSearchCV

In [149]:
y = train['target']
X = train.drop(['target'], axis=1)
X_train,X_test, y_train, y_test = train_test_split(X, y, 
                                                   test_size=0.2,
                                                   random_state=1234,
                                                   shuffle=True
                                                      )

model = RandomForestRegressor()
#-- 튜닝 : 하이퍼파라미터 값을 임의로 변경해서 모델의 성능을 좋게 한다.
myparam = {'n_estimators':[10],
           'min_samples_leaf' : [1,2,3,4,5,6,8, 12, 18],
           'min_samples_split' : [1,2,3,4,5,6,8, 16, 20],
           'criterion' : ['mae']
        }

skfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=1234) 
gcv_model = GridSearchCV(model, param_grid=myparam, scoring=make_scorer(NMAE,greater_is_better=False), refit=True, cv=5)


gcv_model.fit(X_train, y_train)
print(gcv_model.best_score_)
print(gcv_model.best_params_)
# print(gcv_model.cv_results_)

-0.10365708189340898
{'criterion': 'mae', 'min_samples_leaf': 1, 'min_samples_split': 6, 'n_estimators': 10}

In [110]:
y = train['target']
X = train.drop(['target'], axis=1)
X_train,X_test, y_train, y_test = train_test_split(X, y, 
                                                   test_size=0.2,
                                                   random_state=1234,
                                                   shuffle=True
                                                      )

model = XGBRegressor(n_estimators=100, random_state=1234)
#-- 튜닝 : 하이퍼파라미터 값을 임의로 변경해서 모델의 성능을 좋게 한다.
myparam = {"colsample_bytree":[1.0],
           "min_child_weight":[1.0,1.2],
           'max_depth': [3,4,6,7,8,9,10],
           'n_estimators': [100,200]
        }

skfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=1234) 
gcv_model = GridSearchCV(model, param_grid=myparam, scoring=make_scorer(NMAE,greater_is_better=False), refit=True, cv=5)


gcv_model.fit(X_train, y_train)
print(gcv_model.best_score_)
print(gcv_model.best_params_)
# print(gcv_model.cv_results_)

-0.10123496542762667
{'colsample_bytree': 1.0, 'max_depth': 3, 'min_child_weight': 1.0, 'n_estimators': 100}

In [ ]:
param_grid = {
    'n_estimators': [100, 200], 
    'learning_rate': [0.1, 0.05, 0.01], 
    'max_depth': [7, 8], 
    'colsample_bytree': [0.8, 0.9], 
    'subsample': [0.8, 0.9,]
}

In [114]:
y = train['target']
X = train.drop(['target'], axis=1)
X_train,X_test, y_train, y_test = train_test_split(X, y, 
                                                   test_size=0.2,
                                                   random_state=1234,
                                                   shuffle=True
                                                      )

model = LGBMRegressor()
#-- 튜닝 : 하이퍼파라미터 값을 임의로 변경해서 모델의 성능을 좋게 한다.
myparam = {
    'n_estimators': [100, 200], 
    'learning_rate': [0.1, 0.05, 0.01], 
    'max_depth': [7, 8], 
    'colsample_bytree': [0.8, 0.9], 
    'subsample': [0.8, 0.9,]
}

skfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=1234) 
gcv_model = GridSearchCV(model, param_grid=myparam, scoring=make_scorer(NMAE,greater_is_better=False), refit=True, cv=5)


gcv_model.fit(X_train, y_train)
print(gcv_model.best_score_)
print(gcv_model.best_params_)
# print(gcv_model.cv_results_)

-0.09936184626042667
{'colsample_bytree': 0.8, 'learning_rate': 0.05, 'max_depth': 8, 'n_estimators': 100, 'subsample': 0.8}

In [140]:
y = train['target']
X = train.drop(['target'], axis=1)
X_train,X_test, y_train, y_test = train_test_split(X, y, 
                                                   test_size=0.2,
                                                   random_state=1234,
                                                   shuffle=True
                                                      )

model = GradientBoostingRegressor()
#-- 튜닝 : 하이퍼파라미터 값을 임의로 변경해서 모델의 성능을 좋게 한다.
myparam = {
    'n_estimators': [1000], 
    'learning_rate': [0.1, 0.05, 0.01], 
    'max_depth': [3,4,5,6,7, 8]
}

skfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=1234) 
gcv_model = GridSearchCV(model, param_grid=myparam, scoring=make_scorer(NMAE,greater_is_better=False), refit=True, cv=5)


gcv_model.fit(X_train, y_train)
print(gcv_model.best_score_)
print(gcv_model.best_params_)

-0.09725219871399923
{'learning_rate': 0.01, 'max_depth': 4, 'n_estimators': 1000}

In [ ]:
    model_list = [LinearRegression(),Lasso(),ElasticNet(),Ridge(),
                  XGBRegressor(colsample_bytree= 1.0, max_depth= 3, min_child_weight= 1.0, n_estimators= 100),
                  LGBMRegressor(colsample_bytree= 0.8, learning_rate= 0.05, max_depth= 8, n_estimators= 100, subsample= 0.8),
                  RandomForestRegressor(random_state=42,min_samples_leaf= 1, min_samples_split= 6,criterion = 'mae'),
                  CatBoostRegressor(depth = 4, random_state = 42, loss_function = 'MAE', n_estimators = 3000, learning_rate = 0.03, verbose = 0),
                  GradientBoostingRegressor(random_state = 42, max_depth = 4, learning_rate = 0.01, n_estimators = 1000),
                  NGBRegressor(random_state = 42, n_estimators = 1000, verbose = 0, learning_rate = 0.03)]

In [ ]:
LinearRegression : -0.11493212612266945
Lasso : -0.11493072979032301
ElasticNet : -0.11615690454908663
Ridge : -0.11490465781527251
XGBRegressor : -0.10123496542762667
LGBMRegressor : -0.09936184626042667
RandomForestRegressor : -0.1005564459342766
CatBoostRegressor : -0.09711608716605265
GradientBoostingRegressor : -0.09732650669242504
NGBRegressor : -0.09917207417657536

In [245]:
from sklearn.model_selection import KFold
from sklearn.metrics import mean_absolute_error

In [ ]:
def get_stacking_base_datasets(model,X_train_n,y_train_n,X_test_n,n_folds):
    kf=KFold(n_splits=n_folds,shuffle=False,random_state=0)
    train_fold_pred=np.zeros((X_train_n.shape[0],1))
    test_pred=np.zeros((X_test_n.shape[0],n_folds))
    print(model.__class__.__name__,'model 시작')
    
    for folder_counter,(train_index, valid_index) in enumerate(kf.split(X_train_n)):
        print('\t 폴드 세트:',folder_counter,'시작')
        X_tr=X_train_n[train_index]
        y_tr=y_train_n[train_index]
        X_te=X_train_n[valid_index]
        
        model.fit(X_tr,y_tr)

In [247]:
y_train

0       386250
1       194000
2       123000
3       135000
4       250000
         ...
1345    204000
1346    390000
1347    143000
1348    131000
1349    140000
Name: target, Length: 1350, dtype: int64

In [249]:
testfortest=test.copy()

In [19]:
y = train["target"]
X = train.drop(["target"], axis=1)
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, shuffle=True, random_state=1234)

In [15]:
from sklearn.model_selection import KFold
from sklearn.metrics import mean_absolute_error

def get_stacking_base_datasets(model, X_train_n,y_train_n,X_test_n,n_folds):
    kf=KFold(n_splits=n_folds, shuffle=True, random_state=1234)
    train_fold_pred=np.zeros((X_train_n.shape[0],1))
    test_pred=np.zeros((X_test_n.shape[0],n_folds))
    print(model.__class__.__name__,'model 시작')
    for folder_counter, (train_index, valid_index) in enumerate(kf.split(X_train_n)):
        print('\t 폴드 세트: ', folder_counter, '시작')
        X_tr=X_train_n[train_index]
        y_tr=y_train_n[train_index]
        X_te=X_train_n[valid_index]
        model.fit(X_tr,y_tr)
        train_fold_pred[valid_index,:]=model.predict(X_te).reshape(-1,1)
        test_pred[:,folder_counter]=model.predict(X_test_n)
    test_pred_mean=np.mean(test_pred,axis=1).reshape(-1,1)
    return train_fold_pred, test_pred_mean

In [25]:
lgb=LGBMRegressor(colsample_bytree= 0.8, learning_rate= 0.05, max_depth= 8, n_estimators= 100, subsample= 0.8)
cbr=CatBoostRegressor(depth = 4, random_state = 42, loss_function = 'MAE', n_estimators = 3000, learning_rate = 0.03, verbose = 0)
gbr=GradientBoostingRegressor(random_state = 42, max_depth = 4, learning_rate = 0.01, n_estimators = 1000)
ngb=NGBRegressor(random_state = 42, n_estimators = 1000, verbose = 0, learning_rate = 0.03)

In [31]:
testfortest

,Overall Qual,Gr Liv Area,Exter Qual,Garage Cars,Garage Area,Kitchen Qual,Total Bsmt SF,1st Flr SF,Bsmt Qual,Full Bath,Year Built,Year Remod/Add,Garage Yr Blt
0,9,1800,Gd,2,702,Ex,1800,1800,Ex,2,2007,2007,2007
1,6,1082,TA,1,240,TA,1082,1082,TA,1,1948,1950,1948
2,6,1573,Gd,2,440,Gd,756,769,Gd,2,2000,2000,2000
3,6,2443,Gd,3,744,Gd,1158,1158,Gd,2,2004,2004,2004
4,5,1040,TA,2,686,TA,1040,1040,TA,1,1968,1968,1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,8,1932,Ex,3,774,Ex,1932,1932,Ex,2,2008,2008,2008
1346,5,912,TA,1,288,TA,912,912,TA,1,1964,1964,1964
1347,4,861,TA,2,288,TA,861,861,Fa,1,1920,1950,1920
1348,5,1430,TA,2,624,Gd,1430,1430,Ex,2,2004,2005,2004
1349,5,2337,TA,2,560,TA,662,1422,TA,2,1900,1950,1945

In [35]:
testfortest

,Overall Qual,Gr Liv Area,Exter Qual,Garage Cars,Garage Area,Kitchen Qual,Total Bsmt SF,1st Flr SF,Bsmt Qual,Full Bath,Year Built,Year Remod/Add,Garage Yr Blt
0,9,1800,Gd,2,702,Ex,1800,1800,Ex,2,2007,2007,2007
1,6,1082,TA,1,240,TA,1082,1082,TA,1,1948,1950,1948
2,6,1573,Gd,2,440,Gd,756,769,Gd,2,2000,2000,2000
3,6,2443,Gd,3,744,Gd,1158,1158,Gd,2,2004,2004,2004
4,5,1040,TA,2,686,TA,1040,1040,TA,1,1968,1968,1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,8,1932,Ex,3,774,Ex,1932,1932,Ex,2,2008,2008,2008
1346,5,912,TA,1,288,TA,912,912,TA,1,1964,1964,1964
1347,4,861,TA,2,288,TA,861,861,Fa,1,1920,1950,1920
1348,5,1430,TA,2,624,Gd,1430,1430,Ex,2,2004,2005,2004
1349,5,2337,TA,2,560,TA,662,1422,TA,2,1900,1950,1945

In [40]:
test=pd.read_csv('dataset/test.csv')
testfortest=test.copy()

In [41]:
testfortest.replace(['Ex'],5,inplace=True)
testfortest.replace(['Gd'],4,inplace=True)
testfortest.replace(['TA'],3,inplace=True)
testfortest.replace(['Fa'],2,inplace=True)
testfortest.replace(['Po'],1,inplace=True)
testfortest=testfortest.drop('id',axis=1)

In [42]:
testfortest

,Overall Qual,Gr Liv Area,Exter Qual,Garage Cars,Garage Area,Kitchen Qual,Total Bsmt SF,1st Flr SF,Bsmt Qual,Full Bath,Year Built,Year Remod/Add,Garage Yr Blt
0,9,1800,4,2,702,5,1800,1800,5,2,2007,2007,2007
1,6,1082,3,1,240,3,1082,1082,3,1,1948,1950,1948
2,6,1573,4,2,440,4,756,769,4,2,2000,2000,2000
3,6,2443,4,3,744,4,1158,1158,4,2,2004,2004,2004
4,5,1040,3,2,686,3,1040,1040,3,1,1968,1968,1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,8,1932,5,3,774,5,1932,1932,5,2,2008,2008,2008
1346,5,912,3,1,288,3,912,912,3,1,1964,1964,1964
1347,4,861,3,2,288,3,861,861,2,1,1920,1950,1920
1348,5,1430,3,2,624,4,1430,1430,5,2,2004,2005,2004
1349,5,2337,3,2,560,3,662,1422,3,2,1900,1950,1945

In [43]:
X_train_n = X_train.values
X_test_n = testfortest.values
y_train_n=y_train.values

lgb_train,lgb_test=get_stacking_base_datasets(lgb,X_train_n,y_train_n,X_test_n,5)
cbr_train,cbr_test=get_stacking_base_datasets(cbr,X_train_n,y_train_n,X_test_n,5)
gbr_train,gbr_test=get_stacking_base_datasets(gbr,X_train_n,y_train_n,X_test_n,5)
ngb_train,ngb_test=get_stacking_base_datasets(ngb,X_train_n,y_train_n,X_test_n,5)

LGBMRegressor model 시작
	 폴드 세트:  0 시작
	 폴드 세트:  1 시작
	 폴드 세트:  2 시작
	 폴드 세트:  3 시작
	 폴드 세트:  4 시작
CatBoostRegressor model 시작
	 폴드 세트:  0 시작
	 폴드 세트:  1 시작
	 폴드 세트:  2 시작
	 폴드 세트:  3 시작
	 폴드 세트:  4 시작
GradientBoostingRegressor model 시작
	 폴드 세트:  0 시작
	 폴드 세트:  1 시작
	 폴드 세트:  2 시작
	 폴드 세트:  3 시작
	 폴드 세트:  4 시작
NGBRegressor model 시작
	 폴드 세트:  0 시작
	 폴드 세트:  1 시작
	 폴드 세트:  2 시작
	 폴드 세트:  3 시작
	 폴드 세트:  4 시작

In [47]:
Stack_final_X_train=np.concatenate((lgb_train,cbr_train,gbr_train,ngb_train),axis=1)
Stack_final_X_test=np.concatenate((lgb_test,cbr_test,gbr_test,ngb_test),axis=1)

meta_model_ngb=XGBRegressor(colsample_bytree= 1.0, max_depth= 3, min_child_weight= 1.0, n_estimators= 100)

meta_model_ngb.fit(Stack_final_X_train,y_train)
final=meta_model_ngb.predict(Stack_final_X_test)
submission = pd.DataFrame({"id" :test['id'],"target": final})
submission.to_csv('stacking_final_xgb.csv', index=False)

In [ ]:
def NMAE(true, pred):
    mae = np.mean(np.abs(true-pred))
    score = mae / np.mean(np.abs(true))
    return score

In [65]:
df11=train.duplicated()

In [77]:
train[train.duplicated(['Overall Qual', 'Gr Liv Area', 'Exter Qual', 'Garage Cars',
       'Garage Area', 'Kitchen Qual', 'Total Bsmt SF', '1st Flr SF',
       'Bsmt Qual', 'Full Bath', 'Year Built', 'Year Remod/Add',
       'Garage Yr Blt'])]

,Overall Qual,Gr Liv Area,Exter Qual,Garage Cars,Garage Area,Kitchen Qual,Total Bsmt SF,1st Flr SF,Bsmt Qual,Full Bath,Year Built,Year Remod/Add,Garage Yr Blt,target
108,4,1092,3,1,253,3,546,546,3,1,1972,1972,1972,85500
244,7,1374,4,2,400,4,384,744,4,2,2004,2004,2004,167000
352,8,1646,4,2,525,4,1594,1646,5,2,2004,2005,2004,300000
457,5,1728,3,2,576,3,1728,1728,3,2,1965,1965,1987,142600
619,8,1324,4,2,550,4,1324,1324,4,2,2006,2006,2006,221370
675,6,1224,4,2,528,4,612,612,4,2,2009,2009,2009,173733
734,7,1368,4,2,474,4,1368,1368,4,2,2005,2006,2005,202500
768,6,848,4,2,420,4,848,848,4,1,2003,2003,2003,131500
795,6,848,4,2,420,4,848,848,4,1,2004,2004,2004,144500
819,7,1492,4,2,440,4,738,738,4,2,2006,2006,2006,185101
827,7,1200,4,2,480,4,600,600,4,2,2004,2005,2004,151000
914,7,1358,4,2,484,4,1350,1358,4,2,2007,2008,2008,217300
939,7,2787,3,4,820,3,1168,1168,5,4,2000,2000,2000,269500
965,7,1626,4,2,474,4,764,764,4,2,2003,2004,2003,155000
970,6,848,4,2,420,4,848,848,4,1,2004,2004,2004,155900
994,7,1080,4,2,496,4,530,530,4,2,2003,2003,2003,147110
1008,7,1456,4,2,400,4,728,728,4,2,2007,2007,2007,177594
1016,6,987,3,1,264,3,483,483,3,1,1973,1973,1973,103400
1086,6,1512,4,2,440,4,756,756,4,2,2000,2000,2000,177000
1115,6,848,4,2,420,4,848,848,4,1,2004,2004,2004,149000
1158,6,1229,3,2,462,3,561,561,4,1,1980,1980,1980,124000
1159,8,1226,4,2,484,4,1226,1226,4,1,1978,1978,1978,206000
1175,4,1092,3,1,286,3,546,546,3,1,1970,1970,1970,88000
1228,7,1344,3,4,784,3,1344,1344,4,2,1997,1998,1997,209200
1245,4,988,3,1,297,3,462,526,4,1,1973,1973,1973,91000
1286,6,848,4,2,420,4,848,848,4,1,2004,2004,2004,143000
1297,8,1280,4,2,506,4,1280,1280,4,2,1992,1992,1992,180000

In [74]:
train.drop('target',axis=1).columns

Index(['Overall Qual', 'Gr Liv Area', 'Exter Qual', 'Garage Cars',
       'Garage Area', 'Kitchen Qual', 'Total Bsmt SF', '1st Flr SF',
       'Bsmt Qual', 'Full Bath', 'Year Built', 'Year Remod/Add',
       'Garage Yr Blt'],
      dtype='object')

In [71]:
for i,g in enumerate(df11):
    if g==True:
        print(i)

938